/* IMPORT CORE THEME */
@import url('https://rushikb.github.io/roam-themes/core.css');

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');	

:root {
    --page-order: row-reverse;
    --header-font: "Lato", sans-serif;
    --body-font: "Open Sans", sans-serif;
    --font-size: 1.02em;
    --bg-color: #eef3f3;
    --page-color: rgba(255, 255, 255, 0.95);
    --text-color: #49556f;
    --light-text-color: #5c7496;
    --icon-color: #6a76a1;
    --bullet-color: rgba(0, 0, 0, 0.2);
    --page-shadow: 0px 6px 10px rgba(43, 45, 47, 0.05);
    --block-shadow: 0px 2px 4px rgba(90, 99, 104, 0.05);
    --color-primary: #5c05ae;
    --color-primary-highlight: #ffdd99b8;
    --color-primary-contrast: #ffffff;
    --color-secondary: #8a3cc8;
    --color-secondary-contrast: #ffffff;
    --border-color: rgba(0, 0, 0, 0.08);
    --subtle-border-color: rgba(0, 0, 0, 0.05);
    --main-background-color: hsl(210, 9%, 98%);
    --body-background-color: #ffffff;
    --reference-item-background: hsl(0, 0%, 99%);
}

/* CHANGE COLOURS IN CANVAS */
canvas[data-id="layer2-node"] {	
    filter: invert(1) hue-rotate(110deg) saturate(2.5);	
}
